.navbar, .navbar-expand-lg {
  background-color: #007bff;
  color: white;
  line-height: 50px;
  background-image: none !important;
}
.nav.navbar-nav li a, .navbar-brand {
   color: white !important;
 }

.nav.navbar-nav a:hover {
 color: grey !important;
}
.bg-light {
	background-color: #f3f2ef;
}

.bg-layout {
	background-color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	padding: 15px;
}
main {
	color: #535353;
}
.degrees ul, .courses ul {
	list-style-type: none;
}
/*.li-layout {
	display: flex;
}*/
.degree {
	margin-left: 10px;
}
.degrees ul ul li:nth-of-type(1) {
	font-weight: bold;
}