.navbar, .navbar-expand-lg {
  background-color: #007bff;
  color: white;
  line-height: 50px;
  background-image: none !important;
}
.nav.navbar-nav li a, .navbar-brand {
   color: white /*!important*/;

 }
 .nav.navbar-nav li:nth-of-type(1) a {
   color: white !important;
   font-size: 18px;
 }

.nav.navbar-nav a:hover {
 color: grey !important;
}
body {
	background-color: #f3f2ef;
}

.bg-layout {
	background-color: white;
	/*border-radius: 10px;*/
	padding: 7px;
}
.degrees ul, .courses ul {
	list-style-type: none;
}
/*.li-layout {
	display: flex;
}*/
.degrees ul ul li:nth-of-type(1) {
	font-weight: bold;
}
/*.courses ul {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0px;
}
.courses ul li {
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #535353;

}*/
h1 {
	font-size: 32px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
[class*="col-"] {
    margin-bottom: 10px;
    margin-top: 10px;
}
.courses {
	font-size: 16px;
}
.active {
	background-color: #7dbcff;
}
span {
	background-color: white;
}
#submit {
	background-color: #007bff !important;
	color: white;
	float: right;
}
#delete a:hover , #update a:hover,  {
	text-decoration: none;
}
#delete a, #update a {
	color: white;
	padding: 0;
}
#delete, #update {
	margin: 5px;
}
.welcome {
	display: flex;
	align-items: center;
    justify-content: center;
}
.welcome div {
	background-color: #bfdeff/*#7dbcff*/;
	/*color: white;*/
	padding: 10px;
	text-align: center;
	border-radius: 7px;
}
.nav-b button a:hover {
	text-decoration: none;
	color: white !important;
}
.nav-b button {
	margin-left: 5px;
	margin-right: 5px;
}
/* .nav.navbar-nav .nav-b button a:nth-of-type(1) {
   color: #343a40 !important;

 }
  .nav.navbar-nav .nav-b button a:nth-of-type(2) {
   color: white !important;
   background-color:  #6c757d !important;
 }*/

 .nav .btn.btn-info{
 	background-color: white;
 }
 .nav .btn.btn-info a {
 	color: #007bff;
 }
 .nav .btn.btn-dark{
 	background-color: #a0a6ab;
 }
 .nav .btn.btn-dark a {
 	color: white ;
 }
.thin {
	background-color: white;
	   position: fixed;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  border: 1px solid black;
	  padding-bottom: 5px;
	  width: 30%;
	  min-width: 300px;
 }
 .thin h1 {
 	text-align: center;
 }