{% extends "bootstrap/base.html" %}

{% block title %} CSC 210 - Project {% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% block head %}
{{ super() }}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="shortcut icon" href="#" />
{% endblock %}



{% block navbar %}

<!-- Source code for the menu highlighter using jinja can be found here https://jinja.palletsprojects.com/en/2.11.x/tricks/ -->
{% if authenticated %}
    {% set navigation_bar = [
    	('/', 'index', 'Home'),
        ('/jack', 'jack', 'Jack'),
        ('/jaafar', 'jaafar', 'Jaafar'),
        ('/leo', 'leo', 'Leo'),
        ('/contact', 'contact', 'Contact Page'),
        ('/signout', 'signout', 'Sign Out')
    ] -%}
{% else %}
    {% set navigation_bar = [
        ('/', 'index', 'Home'),
        ('/jack', 'jack', 'Jack'),
        ('/jaafar', 'jaafar', 'Jaafar'),
        ('/leo', 'leo', 'Leo'),
        ('/contact', 'contact', 'Contact Page'),
        ('/create', 'create', 'Create Account'),
        ('/signin', 'signin', 'Sign In')
    ] -%}
{% endif %}
{% set active_page = active_page|default('index') -%}

<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" >
            <ul id="navigation" class=" nav navbar-nav">
                {% for href, id, caption in navigation_bar %}
				  <li{% if id == active_page %} class="active"{% endif
				  %}><a href="{{ url_for(id) }}">{{ caption|e }}</a></li>
				{% endfor %}
            </ul>
        </div>
    </div>
</nav> 

{% endblock %}


{% block content %}

    {% block page_content %}{% endblock %}

{% endblock %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}