{% extends "base.html" %}
{% set active_page = "contact" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<body>
<div class="bg-light">
	<main class="container">
		<div class="row display-flex">
			<div class ="bg-layout col-lg-12 col-md-12 col-xs-12">
				{% if error %}
    			<p class=error><strong>Error:</strong> {{ error }}
 				 {% endif %}
					<h1> Contact List </h1>
					<!-- if user user signed in, they will be greeted with a message-->
					{% if condition == True %}
						<p>Hello {{contact.name}}! Find your information in the list below to edit or delete it.</p>
					{% else %} <!-- if not signed in, a different message -->
						<p><a href ="{{url_for('create')}}">Sign up</a> to add your contact information to our list, or <a href ="{{url_for('signin')}}">sign in</a> to edit or delete your already created information.</p>
					{% endif %}
			</div>
			<div class ="bg-layout col-lg-12 col-md-12 col-xs-12 ">
				<table>
					<tr>
						<th><h2>Contact Name</h2></th>
						<th><h2>Email Address</h2></th>
						<th></th>
						<th></th>
					</tr>
					{% for contact in contacts %}
					{% set update_url= url_for('edit_page', contactId=contact.id)%}
					{% set delete_url= url_for('delete', contactId=contact.id)%}
					<tr>
						<td><h3>{{contact.name}}</h3></td>
						<td><h3>{{contact.email}}</h3></td>
						<td><a href="{{update_url}}"><button id="update" class="btn btn-info" >Update </button> </a> <a href='{{delete_url}}'> <button id="delete" class="btn btn-danger"> Delete </button></a></td>
						<!-- if user signed in, they can also edit and delete their contact info -->
						{% if condition == True %}
							<td><a href="">Edit Contact Information</a></td>
							<td><a href="">Delete Contact Information</a></td>
						{% endif %}

					</tr>
					{% endfor %}
				</table>
				{{ wtf.quick_form(form) }}
			</div>
		</div>
	</main>
</div>
</body>


{% endblock %}