{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}
<div class="bg-light">
	<main class="container">
		<div class="row display-flex">
			<div class ="bg-layout col-lg-12 col-md-12 col-xs-12">
				<!-- <header class="row"> -->
						<h1> Welcome to Our Site! </h1>
						<h2 class="title"> What website would you like to build today? </h2>
				<!-- </header> -->
			</div>
			<div class ="bg-layout col-lg-12 col-md-12 col-xs-12 ">
				<h2> About Us </h2>
				<section>
					<p>We are three multidisciplinary students with more than six years-worth of combined expereince in front-end and back-end web development and computer science. We are all passionate about computer science, and we built this website from the ground up to showcase our skills and expereince in web development.</p>
				</section>
			</div>

			<div class="bg-layout col-lg-4 col-md-6 col-xs-12">
				<section>
					<h2> <a href="/leo">Leo</a> </h2>
					<p>Leo is a History and Computer Science student at the University of Rochester. Along with his tremendous proficiency in back-end web programming, Leo brings expereince in python programming. On this website, Leo was responsible of the back-end development, account management, and database integration.</p>
				</section>
			</div>
			<div class="bg-layout col-lg-4 col-md-6 col-xs-12">
				<section>
					<h2> <a href="/jack">Jack</a>  </h2>
					<p>Jack is a Mathematics and Computer Science Student at the University of Rochester. Jack has an immense talent with front-end web develpoment and a great artistic sense. Moreover, he brings expereince in Java. On this website, Jack had the role of designing the front-end interface of the websites, and the navigation.</p>
				</section>
			</div>

			<div class="bg-layout col-lg-4 col-md-12 col-xs-12">
				<section>
					<h2> <a href="/jaafar">Jaafar</a> </h2>
					<p>Jaafar is a Mechanical Engineering student at the University of Rochester. Jaafar has a general grasp on different Computer Science tools, and he brings expereince with project management. On this website, Jaafar assembeled the content, and had the task of general integration of front-end and back-end.</p>
				</section>
			</div>
			<div class ="bg-layout col-lg-12 col-md-12 col-xs-12 ">
					<h2> Contact Us </h2>
					<section>
						<p>If you're interested in reaching out, add your contact information to our <a href = "/contact">contact list</a>, and we will be in touch soon :)</p>
					</section>
			</div>
		</div>
	</main>
</div>

{% endblock %}