{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}



{% block title %}Flasky{% endblock %}



{% block page_content %}

<main>

	<div class="side-by-side">

		<img src="static/images/apple-pie.png" class="pie">

		<section>

			<div class="formy">

			    <form action="/" method="POST">
					<input type="text" placeholder="ingredient" name="ingredient" >
					<input type="submit" value="Add ing" class="btn btn-secondary">
				</form>

			</div>

			<h2 id="ing"> Ingredients </h2>

			<ul  id="ingredientsList">
				{% for ing in ingredients %}
					<li>  {{ ing.ingredient}} 
						<a href="/update/{{ing.id}}" role="button" class="btn btn-outline-secondary btn-sm"> Update </a> <a href="/delete/{{ing.id}}" role="button" class="btn btn-outline-danger btn-sm"> Delete </a>
					</li>		
				{% endfor %}
			</ul>	
			

		</section>	

	</div>

	<div class=container>

	<section>

		<h2 id="dir"> Directions </h2>

		<ol id="stepsList"> 

			<div>

				<li> In a small bowl, combine the sugars, flour and spices; set aside. In a large bowl, toss apples with lemon juice. Add sugar mixture; toss to coat. </li>

				<li> Line a 9-in. pie plate with bottom crust; trim even with edge. Fill with apple mixture; dot with butter. Roll remaining crust to fit top of pie; place over filling. Trim, seal and flute edges. Cut slits in crust.</li>

				<li> Beat egg white until foamy; brush over crust. Sprinkle with sugar. Cover edges loosely with foil.</li>

				<li> Bake at 375° for 25 minutes. Remove foil and bake until crust is golden brown and filling is bubbly, 20-25 minutes longer. Cool on a wire rack. </li>

			</div>

		</ol>

	</section>

	<section class="questions">

		<h2 id="qanda"> Commonly Asked Questions </h2>

		<img src="static/images/apple.png" class="apple"> 

		<section>

			<h3> How many apples are in 6 cups?</h3>

			<p> Typically, 1 medium apple yields 1-1/3 cups sliced. For 6 cups of sliced apples, you will need about 5 medium apples. Plus, you'll have a little left over for a snack or to use in any of these apple recipes! </p>

		</section>

		<section>

			<h3> What are the best apples to use in pies? </h3>

			<p> In the Taste of Home Test Kitchen, we prefer using Granny Smith for pies because of its tart flavor and ability to hold its shape. If you want something with a little more sweetness, we recommend using Braeburn, Golden Delicious or Jonagold. Learn more about the best apples for apple pie to determine which is the best one for you!</p>

		</section>

		<section>

			<h3> How do you keep the bottom of a pie from getting soggy? </h3>

			<p> To avoid a pie bottom from getting soggy, allow the bottom crust to heat more rapidly than the rest of the pie. To do this, place a baking sheet in the oven while preheating and then bake your pie on the pan. </p>

		</section>

		<section>

			<h3> Is it better to bake a pie in glass or metal? </h3>

			<p> Both metal and glass pie plates work well for baking double-crust pies. But for single-crust pies that are pre-baked, a metal plate is preferred because it heats quicker and ensures a crisp crust. Follow our other pie baking tips in our ultimate pie baking guide! </p>

		</section>

	</section>
	</div>

</main>

		





{% endblock %}

