{% extends "base.html" %}

{% block content %}
	<div class="bg-light">
		<main class = "container">
			<div class = "container">
				<div class = "row">
					<div class = "bg-layout col">
						<header>
							<h1> Jaafar Hadab </h1>
							<h2 class="title"> Mechanical Engineering Student at the University of Rochester</h2>
							<img src="{{url_for('static',filename='images/jaafar.jpg')}}">
						</header>
					</div>
					<div class="bg-layout col">
						<section class = "experience">
							<h3> DAC FEA Research at the University of Rochester Dias Laboratory</h3>
							<h3> Suspension Lead for the University of Rochester Baja SAE team</h3>
						</section>
					</div>
				</div>
			</div>
			<article class = "education">
				<div class = "bg-layout">
					<h2> Degrees </h2>

					<section class="degrees">
						<ul>
							<li>
								<ul>
									<li> University of Rochester </li>
									<li> Bachelor of Science - Mechanical Engineering </li>
									<li> 2017 - 2021 </li>
								</ul>
							</li>
							<li>
								<ul>
									<li> University of Rochester </li>
									<li> Minor - Computer Science </li>
									<li> 2017 - 2021 </li>
								</ul>
							</li>
							<li>
								<ul>
									<li> University of Rochester </li>
									<li> Minor - Psychology as a Social Science </li>
									<li> 2017 - 2021 </li>
								</ul>
							</li>
							<li>
								<ul>
									<li> Udacity </li>
									<li> Nanodegree - AI Programming with Python </li>
									<li> 2020 </li>
								</ul>
							</li>
						</ul>
					</section>
				</div>
				<div class="bg-layout">
				<h2> Courses </h2>
			
				<section class="courses">
					<ul>
						<li> Mechanical Design </li>
						<li> Heat and Power </li>
						<li> Fluid Dynamics </li>
						<li> Materials Science </li>
						<li> Data Structures & Algorithms </li>
						<li> Web Application Programming </li>
					</ul>	
				</section>
			</div>
			</article>

			<div class="bg-layout">	
			<section class="projects">
			<h2> Projects </h2>
				<h3> Design and Fabrication of an Air Engine Assembly </h3>
				<p> Project involved analyzing the assembly of the engine with NX-motion to determine vibrational forces on the base of the engine and using NX to optimize the design of the flywheel to balance out these vibrational forces. Also involved using NX to write a CNC program for cutting molds for casting the flywheel and programming a 4-axis CNC program  </p>

				<h3> PyTourch Flower Image Classifier  </h3>
				<p>  I used PyTourch and several other python packages to create and train a flower image classifier. The classifier was trained with a set of 250 flower images and 20 categories. Using an enhanced deep learning algorithm, the classifier was able to correctly classify flower images 95% of the time. </p>

				<h3> Website with custom content management system </h3>
				<p> The website was a collection of student's about-me pages utilizing MySQL, HTML, PHP, CSS.  The website had a custom content management system (CMS) and login interface, and the website allowed users with a valid username and password to create, edit, and delete student pages on the website.  </p>
				
			</section>
			</div>
		</main>
	</div>


{% endblock %}