{% extends "bootstrap/base.html" %}

{% block content %}

<main>

	<header>
		<h1> Jack Mandell </h1>
		<div class="title"> Math and Computer Science Student at the University of Rochester </div>
	</header>


	<section class="about"> 

	</section>


	<section class="experience">
		
	</section>

	<article class="education">
		<section class="degrees">
			<ul>
				<li> 
					<ul> 
						<li> University of Rochester </li>
						<li> Bachelor of Science - BS, Mathematics </li>
						<li> 2019 - 2023 </li>
				 	</ul>
				</li>
				<li>
					 <ul>  
					 	<li> University of Rochester </li>
					 	<li> Bachelor of Arts - BA, Computer Science </li>
					 	<li> 2019 - 2023 </li>
					 </ul>
				</li>
			</ul>
			
		</section>

		<section class="courses">
			<ul>
				<li> Advanced Web Development </li>
				<li> Data Structures & Algorithms </li>
				<li> Web Application Programming </li>
				<li> Discrete Mathematics </li>
			</ul>	
		</section>


	</article>

	<section>
		
	</section>
</main>



{% endblock %}