{% extends "base.html" %}

{% block content %}

<main class="container">

	<header>
		<h1> Leonard Koblence </h1>
		<h2 class="title"> History and Computer Science Student at the University of Rochester </h2>
	</header>

	<section class="experience">
		<h3> Data Center Technician </h3>

		<h3> Marine Officer Candidate Program </h3>

	<article class="education">
		<h2> Degrees </h2>
		<section class="degrees">
			<ul>
				<li> 
					<ul> 
						<li> University of Rochester </li>
						<li> Bachelor of history</li>
						<li> 2017 - 2021 </li>
				 	</ul>
				</li>
				<li>
					 <ul>  
					 	<li> University of Rochester </li>
					 	<li> Minor, Computer Science </li>
					 	<li> 2017 - 2021 </li>
					 </ul>
				</li>
			</ul>
			
		</section>
		<h2> Courses </h2>
		<section class="courses">
			<ul>
				<li> Front end web-development </li>
				<li> Advanced Front end web development </li>
				<li> Web Application Programming </li>
				<li> Python programming </li>
				<li> Recreational graphics with blender </li>
				<li> Machines and Consiousness  </li>
			</ul>	
		</section>


	</article>

	<section class="projects">
	<h2> About Me </h2>
		<h3> Degree </h3>
		<p> My favorite subject being history, which aligned with my military career aspirations while also giving me the freedom to pursue computer science as a minor. I ultimately put being on the varsity tennis team on hold during my sophomore year in order to devote more time to military training. During my time at the University of Rochester I naturally have taken many history courses that required lots of reading assignments and essay writings but were otherwise very intellectually rich and enjoyable. In the beginning of my sophomore year I decided that I wanted to minor in computer science rather than major in it as I originally planned. My first computer science course was CSC 170 intro to web development where I learned how to make websites using html, css, php, jquery, and java script. I was fairly successful in the course and went on to take 174, 131, 161, and now CSC 210.  </p>

		<h3> Career Aspirations </h3>
		<p>  Being a member of the NROTCU Program, I will be comissioned as a 2nd Lt in the United States Marine Corps. In the Marine Corps I hope to pursue a career as a Cyber Warfare Officer, code 1702, where I can lead Marines in the conduct of offensive and defensive cyberspace operations. Knowledge of python, computing security, and web applications are essential to being succesful in that field, and that is why I am devoted to expanding my skills in the earth space and cyberspace.  </p>

	
		
	</section>
</main>

{% endblock %}